<% @title="Stock Investment Details" %>

<div class="detail">
  <p>Name/Ticker of the Stock: <%= @stock.name %></p>
  <p>Current Price per Share: $<%= @stock.price %></p>
  <p>Number of Shares: <%= @stock.number %></p>

  <form class="" action="/stock/<%= @stock.id %>/edit">
    <input type="submit" value="Edit">
  </form>
  <form method="POST" action="/stock/<%= @stock.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete" value="Delete">
  </form>
</div>
