<% @title="Investment Property Details" %>

<div class="detail">
  <p>Property Name / Location: <%= @property.name %></a></p>
  <p>Property Type: <%= @property.category %></p>
  <p>Property Value: $<%= @property.value %></p>

  <form class="" action="/property/<%= @property.id %>/edit">
    <input type="submit" value="Edit">
  </form>
  <form method="POST" action="/property/<%= @property.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete" value="Delete">
  </form>
</div>
