
<div class="detail">
  <form class="" action="/fund/<%= @fund.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PUT">
    <p>Company Name or Financial Management Firm*: <input type="text" name="name" value="<%= @fund.name %>"></p>
    <p>Fund Type*: <input type="radio" name="category" value="401k" <%= 'checked' if @fund.category=="401k" %>> 401k
      <input type="radio" name="category" value="IRA" <%= 'checked' if @fund.category=="IRA" %>> IRA </p>
      <p>Fund Value*: $ <input type="decimal" name="value" value="<%= @fund.value %>"></p>
      <input type="submit" name="submit" value="Save Changes">
  </form>
</div>
