<% @title="Retirement Fund Investment Details" %>

<div class="detail">
  <p>Company / Financial Management Firm: <%= @fund.name %></a></p>
  <p>Fund Type: <%= @fund.category %></p>
  <p>Fund Value: $<%= @fund.value %></p>

  <form class="" action="/fund/<%= @fund.id %>/edit">
    <input type="submit" value="Edit">
  </form>
  <form method="POST" action="/fund/<%= @fund.id %>">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete" value="Delete">
  </form>
</div>
