<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <title><%= @title %></title>
  </head>

  <body>
    <div class="wrapper">

      <% if logged_in? %>
        <div id="textbox">
          <p class="left" style="margin-bottom: none;">
            <a href="/home">Home</a> |
            <a href="/logout">Logout</a>
          </p>
          <p class="right" style="margin-bottom: none;">Add NEW -
            <a href="/stock/new">Stock</a> |
            <a href="/product/new">Bank Product</a> |
            <a href="/fund/new">Retirement Fund</a> |
            <a href="/property/new">Investment Property</a>
          </p>
        </div>
        <div style="clear: both;"></div>
          <p>Hello</p>
      <% end %>

      <h1>Investment Folio Manager</h1>
      <% if @heading %>
        <h2><%= @heading %></h2>
      <% else %>
        <h2><%= @title %></h2>
      <% end %>

      <div class="flash">
        <% if flash.has?(:message) %>
          <%= flash[:message] %>
          <br /><br />
        <% end %>
      </div>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2017 <strong>SinatraInvestmentFolioApp</strong></small>
      </footer>

    </div>
  </body>
</html>
